/* External CSS */
h1 {
    color: crimson;
    font-size: 2em;
  }
  
  h2 {
    color: darkblue;
  }
  
  .intro {
    text-decoration: underline;
  }
  
  a {
    color: blue;
    text-decoration: none;
  }
  